spring:
  application:
    name: proj1-demo
  datasource:
    url: jdbc:postgresql://localhost:5432/proj1db
    username: postgres
    password: 
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 2
      minimum-idle: 1
      connection-timeout: 3000
      idle-timeout: 300000

  sql:
    init:
      mode: never
    
  jpa:
    hibernate: 
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  output:
    ansi:
      enabled: always

server:
  port: 8080
  shutdown: graceful

logging:
  level:
    '[org.springframework]': ERROR
    '[org.hibernate]': ERROR
    '[com.skillstorm.proj1_demo]': INFO
